#popUpBox{
    display: block;
    background: #183153;
    width: 100vw; height: 100vh;
    padding: 4px 8px;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    word-wrap:break-word;
    text-align: justify;
    color: #fff;
}
#popUpBox h3{
    margin: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}
#popUpBox p{
    font-size: small;
    text-align: left;
    margin: 2px 8px; padding: 4px 0;
}
#popUpBox div{
    height: 70vh;
    padding: 4px 8px;
    line-height: 2rem;
    overflow-y: scroll;
    padding-top:10px;
    scroll-behavior: smooth;
}
#popUpBox button{
    background-color: rgb(86, 86, 177);
    display: flex; justify-self: center;
    margin: 8px 16px; padding: 4px 16px;
    border: 1px solid white;
    color: #fff;
}
#popUpBox button:active{
    background-color: blue;
    transform: scale(0.9);
    box-shadow: 1px 1px 1px solid black;
}
.close_popup{
    display: none !important;
}
