@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url(./gridContainer.css);
@import url(./hidden.css);
@import url(./js.css);
html{
    font-size: 16px;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #183153;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 10px;
}
#input_section{   
    height: 20vh; 
    padding: 10px;
}
#input_section input{
    height: 25px; width: 70vw;
    padding: 10px;
    position: relative; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
    border: none;
}
#input_section input:focus{
    outline: none;
    box-shadow: 0 2px 1px #96abc9;
}

#input_section input:focus::placeholder{
    color: blue;
}

#section_2{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
#addTask_btn{
    font-style: normal;
    padding: 4px 16px;
    border: 1px solid white;
    width: 120px;
    text-align: center;
}
#addTask_btn:active{
    transform: scale(0.9);
    box-shadow: 1px 1px 1px #183153;
}
.cards small{
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
}
.cards h3, .cards small{
    border-bottom: 1px solid gray;
    margin: 4px 0;
}

@media (min-width: 768px) and (max-width: 1024px){
    #input_section input{
        width: 50vw;
        height: 5vh;
    }
    #section_2{
        justify-content: space-between;
        gap: 20px;
        padding: 8px 32px;
    }
}
@media (min-width: 1025px){
    #input_section input{
        width: 40vw;
        height: 6vh;
    }
    #section_2{
        justify-content: space-between;
        gap: 20px;
        padding: 8px 64px;
    }
    #section_2 i:hover{
        cursor: pointer;
    }
}